<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983951206104-ova91fk1a5aj72giue0v51g4vn4bt1u1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983951206104-ova91fk1a5aj72giue0v51g4vn4bt1u1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>983951206104-s13mrb8hudom46i85gi0aaorl7h8vprt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPtEkc5ARHS2pApDRLbM9-hsvs1quAVhg</string>
	<key>GCM_SENDER_ID</key>
	<string>983951206104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.crmcash360</string>
	<key>PROJECT_ID</key>
	<string>crmcash360</string>
	<key>STORAGE_BUCKET</key>
	<string>crmcash360.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983951206104:ios:d058c316a249fa5f8799ad</string>
</dict>
</plist>